ADMIN_WALLET_PRIVATE_KEY=
GUARDIAN_WALLET_PRIVATE_KEY=
MANAGER_WALLET_PRIVATE_KEY=
ZYNK_OP_WALLET_PRIVATE_KEY=

ADMIN_WALLET_PUBLIC_KEY=
GUARDIAN_WALLET_PUBLIC_KEY=7VK59BsAigi4Hi6KGjUyABLWe1HCBGmspH1j7Yaa3H6S
MANAGER_WALLET_PUBLIC_KEY=
ZYNK_OP_WALLET_PUBLIC_KEY=

PROGRAM_ID=
RPC_URL="https://mainnet.helius-rpc.com/?api-key=33b11833-0c3c-45ab-a1c7-eabcd1071f50"

GUARDIAN_MULTISIG_PUBLIC_KEY=2GrgdPJhnVwbBK3n3Thc5kH7pEjSPhMC2NaJYHFaxpv9
GUARDIAN_MULTISIG_VAULT_PUBLIC_KEY=7VK59BsAigi4Hi6KGjUyABLWe1HCBGmspH1j7Yaa3H6S

ADMIN_MULTISIG_PUBLIC_KEY=Ghw9keH1rVoo2dr22jtBm4nqFro1gAX2tYaZytGSh8KY
ADMIN_MULTISIG_VAULT_PUBLIC_KEY=Dyrq5TihL4q6XtekdkfnrZjBzSk5qJFWDAphKJYW86ru
